{% extends 'base.html' %}


{% block title %}GameList{% endblock %}


{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">GameList</h1>

                <div class="row">


                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Games
                            </div>

                            <div class="panel-body">

                                {% for game in games %}
                                
                                {% if not game.player2 or not game.player1 %}
                                <div class="alert alert-success">
                                {% else %}
                                <div class="alert alert-info">
                                {% endif %}

                                    {{game.name}} 
                                    <a href="{% url 'game' game.id %}"><button type="button" class="btn btn-primary">Join as player</button></a>
                                    <a href="{% url 'game' game.id %}"><button type="button" class="btn btn-primary">Join as spectators</button></a>
                                </div>
                                {% endfor %}

                            </div>
                        
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                GameFilter
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="form-group">
                                        <input class="form-control" id="namefield" placeholder="Enter game name">
                                    </div>
                                    <button id="formbutton" type="button" class="btn btn-primary">Find</button>
                                </form>
                            </div>
                        
                        </div>
                    </div>


                </div>



            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block includefiles %}
    <script>
        $(document).ready(function () {

            let findField = document.getElementById('namefield');
            let findFieldValue = findField.value
            let button = document.getElementById('formbutton');

            let listGame = []
            
            let serachGames = () => {
                $.ajax({
                    data: {"strslice": findFieldValue},  // получаяем данные формы
                    url: "{% url 'gamefilter' %}",
                    method: 'GET',
                    // если успешно, то
                    success: function (response) {
                        console.log(findFieldValue);
                    },
                    // если ошибка, то
                    error: function (response) {
                        // предупредим об ошибке
                        console.log(response.responseJSON.errors)
                    }
                });
            };

            button.onclick = () => {
                findFieldValue = findField.value;
                serachGames();
            };

            setInterval(() => {
                serachGames();
            }, 1000);

        })
    </script>
{% endblock %}