{% extends 'base.html' %}


{% block title %}GameList{% endblock %}


{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">GameList</h1>

                <div class="row">


                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Games
                            </div>

                            <div class="panel-body">

                                {% for game in games %}
                                <div class="alert alert-success">
                                    {{game.name}} 
                                    <button type="button" class="btn btn-primary">Join as player</button>
                                </div>
                                {% endfor %}

                            </div>
                        
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                GameFilter
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Enter game name">
                                    </div>
                                    <button type="button" class="btn btn-primary">Find</button>
                                </form>
                            </div>
                        
                        </div>
                    </div>


                </div>



            </div>
        </div>
    </div>
</div>
{% endblock %}