{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/plugins/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">


</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please SignUp</h3>
                    </div>
                    <div class="panel-body">


                        <form role="form" method="POST">

                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endif %}

                            {% csrf_token %}

                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" id="username" placeholder="Username" name="username" type="username"
                                        autofocus>
                                        <small id="usernameHelp" class="form-text text-muted">
                                            Your username must be unique. We will notify you if someone has already taken it.</small>
                                </div>


                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password1" type="password"
                                        value="">
                                </div>


                                <div class="form-group">
                                    <input class="form-control" placeholder="Repeat password" name="password2" type="password"
                                        value="">
                                </div>

                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block">SignUp</button>
                            </fieldset>
                        </form>
                        <hr>
                        <div class="text-center">
                            Do you already have an account? <a href="{% url 'login' %}">Signup here</a>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/plugins/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>



    <script>
        $(document).ready(function () {
            // отслеживаем событие отправки формы
            $('#id_username').keyup(function () {
                // создаем AJAX-вызов
                $.ajax({
                    data: $(this).serialize(), // получаяем данные формы
                    url: "{% url 'checkusername' %}",
                    // если успешно, то
                    success: function (response) {
                        if (response.is_admissible == true) {
                            $('#id_username').removeClass('is-valid').addClass('is-invalid');
                            $('#id_username').after('<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>')
                        }
                        else {
                            $('#id_username').removeClass('is-invalid').addClass('is-valid');
                            $('#usernameError').remove();
  
                        }
                    },
                    // если ошибка, то
                    error: function (response) {
                        // предупредим об ошибке
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        })
    </script>

</body>